In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df=pd.read_csv("filtered1.csv", dtype='unicode')

In [3]:
df

,Unnamed: 0,Unnamed: 0.1,imdb_title_id,title,original_title,year,date_published,genre,duration,country,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,combined_features
0,0,4334,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,...,An English Duke from 1876 is inadvertedly drag...,6.4,77852,$ 48000000,$ 47121859,$ 76019048,44.0,341.0,115.0,"Comedy, Fantasy, Romance USA James Mangold Meg..."
1,1,14127,tt0064730,Nihon boryoku-dan: Kumicho,Nihon boryoku-dan: Kumicho,2000,1969,"Action, Crime",97,Japan,...,Coming out of jail and hoping for a quiet life...,7.0,168,NaN,NaN,NaN,NaN,3.0,5.0,"Action, Crime Japan Kinji Fukasaku KÃ´ji Tsurut..."
2,2,15675,tt0069049,L'altra faccia del vento,The Other Side of the Wind,2018,2018-11-02,Drama,122,"France, Iran, USA",...,A Hollywood director emerges from semi-exile w...,6.8,5887,NaN,NaN,NaN,78.0,81.0,98.0,"Drama France, Iran, USA Orson Welles John Hust..."
3,3,21806,tt0088751,The Naked Monster,The Naked Monster,2005,2005-04-22,"Comedy, Horror, Sci-Fi",100,USA,...,"A brain-dead sheriff, a stolid secret agent an...",5.4,264,PYG 350000000,NaN,NaN,NaN,15.0,8.0,"Comedy, Horror, Sci-Fi USA Wayne Berwick, Ted ..."
4,4,24217,tt0096056,Delitto e castigo,Crime and Punishment,2002,2002-06-01,Drama,126,"Poland, Russia, USA",...,A modern day adaptation of Dostoyevsky's class...,5.8,633,NaN,NaN,NaN,NaN,13.0,NaN,"Drama Poland, Russia, USA Menahem Golan Crispi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32625,47131,85849,tt9906644,Manoharam,Manoharam,2019,2019-09-27,"Comedy, Drama",122,India,...,Manoharan is a poster artist struggling to fin...,6.8,491,NaN,NaN,NaN,NaN,9.0,1.0,"Comedy, Drama India Anvar Sadik Vineeth Sreeni..."
32626,47132,85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",...,A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0,"Comedy France, Belgium Ludovic Colbeau-Justin ..."
32627,47133,85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,...,A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0,"Comedy, Drama Netherlands Johan Nijenhuis Herm..."
32628,47134,85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,...,NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN,"Drama India Vineesh Aaradya Anoop Chandran, In..."
32629,47135,85853,tt9914286,Sokagin Ãocuklari,Sokagin Ãocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,...,NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN,"Drama, Family Turkey Ahmet Faik Akinci Ahmet F..."

In [4]:
#For content-based recommendation we require some features. Here we take features like genre,country, director and actors
#for the recommendation system and store it in a list

features=['genre','country','director','actors']

In [5]:
#The features selected for the recommendation system are added in the dataframe's coloumn

def combine_features(row): #function for combining the values of these columns into a single string
    return row['genre']+" "+row['country']+" "+row['director']+" "+row['actors']
for x in features:
    df[x]=df[x].fillna('')#for NaN values
df['combined_features']=df.apply(combine_features,axis=1)
df.iloc[0].combined_features
print("Combined features:"+df['combined_features'].head())

0    Combined features:Comedy, Fantasy, Romance USA...
1    Combined features:Action, Crime Japan Kinji Fu...
2    Combined features:Drama France, Iran, USA Orso...
3    Combined features:Comedy, Horror, Sci-Fi USA W...
4    Combined features:Drama Poland, Russia, USA Me...
Name: combined_features, dtype: object

In [6]:
#the similarity matrix 
hv=HashingVectorizer(stop_words='english')
matrix=hv.fit_transform(df['combined_features'])

In [7]:
cosineSimilarity=cosine_similarity(matrix)

In [9]:
indices=pd.Series(df.index, index=df['original_title']).drop_duplicates()